@import 'lib/sprite';
$sprite: map-get($icons, sprite) !default;

@function sprite-attr($icon, $attr) {
  $new-icon: map-get($icons, $icon);
  @return map-get($new-icon, $attr);
}

@function icon-attr($icon) {
  $attr: (
    width: sprite-attr($icon, width),
    height: sprite-attr($icon, height),
    x: sprite-attr($icon, backgroundX),
    y: sprite-attr($icon, backgroundY)
  );

  @return $attr;
}

@function pxtoem($pixels...) {
  $result: '';
  @each $item in $pixels {
    $result: $result + ($item + 0) / $default-font-size + em + ' ';
  }
  @return #{$result};
}

@mixin use-svg-sprite($icon) {
  $icon-map: icon-attr($icon);

  background-image: url(map-get($sprite, svgPath));
  background-position: pxtoem(map-get($icon-map, x) - 5) pxtoem(map-get($icon-map, y) - 5);
  background-size: pxtoem(map-get($sprite, width)) pxtoem(map-get($sprite, height));
  content: '';
  display: inline-block;
  height: pxtoem(map-get($icon-map, height) + 1);
  width: pxtoem(map-get($icon-map, width) + 1);
}

a.certain-class {
  &::before {
      @include use-svg-sprite(account);
  }
}
